<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SBTextStoryBorad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17BF4E441F0E1EDE000791E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17BF4E5D1F0E1EDE000791E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17BF4E681F0E1EDE000791E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
